<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detective Conan Gallery</title>

    <!-- Font CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Scroll reveal CDN-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Customized CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="#" class="logo"><img src="images/logo.png"></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="pages/gallery.html" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Comics</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">TV Series</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Movies</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Hero -->
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">D</span>etective
            </h2>
            <h1 class="headline">Conan</h1>
            <div class="headline-description">
                <div class="separator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-right"></div>
                </div>
                <div class="single-animation">
                    <h5>Welcome to the world of Conan</h5>
                    <a href="#" class="btn cta-btn">Explore</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Comics --> 
    <section class="discover-comics">
        <div class="container">
            <div class="comics-info">
                <div class="comics-description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">D</span>iscover
                        </h2>
                        <h1 class="headline headline-dark">Comics</h1>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        The Detective Conan manga was first serialized in the fifth issue of Shōnen Sunday in 1994, written and drawn by Gosho Aoyama, and has appeared there since. The first tankoubon was also published by Shogakukan in 1994; it has spanned 94 published volumes as of December 18, 2017, and continues today. The manga has been highly popular in Japan; the tankoubon has received multiple first places in bestselling lists.
                    </p>
                    <a href="#" class="btn body-btn">Purchase</a>
                </div>
                <div class="comics-info-img animate-right">
                    <img src="images/comics.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- Characters-banner -->
    <section class="characters-banner between">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        <span class="first-letter">D</span>iscover
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h1 class="headline">Characters</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Characters -->
    <section class="characters">
        <div class="container">
            <div class="comics-info">
                <div class="image-group padding-right animate-left">
                    <img src="images/ran.jpg">
                    <img src="images/ai.jpg">
                    <img src="images/vermouth.jpg">
                    <img src="images/gin.jpg">
                </div>
                <div class="comics-description animate-right">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">D</span>iscover
                        </h2>
                        <h1 class="headline headline-dark">Characters</h1>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        The series was created and is drawn by Gosho Aoyama. The protagonists from his earlier series Magic Kaito look very similar: Kaitou Kid has made a number of appearances as himself in the anime and manga of the series. The main protagonist of the Detective Conan series, Shinichi Kudo, and the protagonist of the Magic Kaito series, Kaito Kuroba, are also similar. Hundreds of minor characters have been created and are always given backgrounds, motives, and personalities that put them under suspicion during the investigation.
                    </p>
                    <a href="#" class="btn body-btn">View the full introduction</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Movies-between -->
    <div class="movie-banner between"></div>

    <!-- movies -->
    <section class="movies">
        <div class="container">
            <div class="comics-info">
                <div class="comics-description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">D</span>iscover
                        </h2>
                        <h1 class="headline headline-dark">Movies</h1>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        Since 1997, there has been an animated Detective Conan movie released during Golden Week each year. With the exception of the first movie, all Detective Conan movies have been among of the highest-grossing movies in the year it was screened in Japan.
                    </p>
                    <a href="#" class="btn body-btn">View movie descriptions</a>
                </div>
                <div class="image-group">
                    <img src="images/movie-poster-1.jpg" class="animate-top">
                    <img src="images/movie-poster-2.jpg" class="animate-bottom">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#hero"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer-content">
                <div class="footer-content-about animate-top">
                    <h4>About Detective Conan</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <p>
                        The story follows the adventures of Shinichi Kudo (also known as Jimmy Kudo in Case Closed), a young detective prodigy who was inadvertently shrunk into a child's body due to a poison he was force-fed by members of a criminal syndicate. Neighbor and family friend Professor Agasa strongly suggested Shinichi hide his identity to prevent them from killing him and the people he cares about, so Shinichi takes the name Conan Edogawa. He goes to live with his childhood friend Ran Mouri and her father, Kogoro, and tries to use Kogoro's detective agency as a way to find the people who shrank him—without letting Ran figure out who he really is.
                    </p>
                </div>
                <div class="footer-content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Follow along</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-container">
                        <h4>Newsletter</h4>
                        <form action="" class="newsletter-form">
                            <input type="text" class="newsletter-input" placeholder="Your email address...">
                            <button class="newsletter-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../javascripts/connection.js"></script>
</body>
</html>